

  .Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .Auth-form {
    width: 420px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .Auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
  }
  
  .Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
  }

  .error-text{
    font-size: 14px;
    color: rgb(252, 40, 40);
    font-weight: 600;
  }