.flexbox-row{
    display: flex;
    flex-direction: row;
}
.input{
    padding: 1px;
    width: 500px;
}
.margin-top-15 {
    margin-top:25px
}
.padding-top-15{
    padding-top: 15px;
}

input:focus{
    outline: none;
}

.flexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:left;
}

