.justify-center{
    display: flex;
    justify-content: left;
}

nav ul{
    padding: 0px;
    margin: 0px;    
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    list-style: none;
    justify-content:space-between;
    justify-items: center;
}

nav ul li{
    font-size: large;
    font-weight: 500;
    padding-left: 35px;
    padding-right: 35px;
}

h2{
    padding-left: 35px;
    padding-right: 35px;
    margin: 0;
}

li a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: rgb(24, 37, 221);
}

#nav-container{
    padding-left: 70px;
    padding-right: 70px;
}

.controls-btn{
    float: right;
    margin-top: -52px;
    padding-right: 15px;
    padding-left: 15px;
}
.margin-right-5{
    margin-right: 5px;
}