.cart-icon{
    width: 25px;
    padding: 5px;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.flex-horizontal{
    flex-direction: row;
}

.price-label{
    padding: 10px;
}

.name-label{
    padding-left: 10px;
    padding-right: 10px;
}